# Flutter-related
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android-related
.gradle/
local.properties
*.apk
*.ap_
*.dex

# iOS-related
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Firebase-related
firebase_options.dart
